*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  /* border:1px solid black; */
}
/* .container-class{
  /* border:1px solid black;
} */




.logi{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #004AAD; */
  padding: 15px 50px;
  position: fixed;
  top: 0;
  width: 100%;

}
.logi img{
    height:50px;
    /* border: 1px solid black; */
    
}

.nav-sp{
    display: flex;
    /* border: 1px solid black; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-left: 300px; */
}

.navbar-cont{
  position: relative;
  top: 80px;
  /* border: 1px solid black; */
  padding: 100px 70px;

}

.nav-sp li{
    text-decoration: none;
    list-style: none;
    margin: 10px 20px;
}

nav a{
    text-decoration: none;
    font-size: 16px;
    color: #004AAD;
}


.spr-btn{
    padding: 10px 20px;
    background: #004AAD;
    border-radius: 10px;
    color: white;

}

.cont-vision{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    /* margin:100px 70px; */

}
.cont-success{
  /* padding-right: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-right: 30PX; */
  width: 700px;
  align-items: flex-start;

 }

/* .box{

} */
.cont-success h2{
font-size:90px;
font-weight: 900px;
color: #090E52;
/* border: 1px solid black; */
}

.cont-success p{
font-size: 18px;
line-height: 35px;
color: #666666;
width: 70%;
}
/* 
.img-group{
  /* border: 1px solid black; */
  /* width: 100%;} 
*/
.img-group img{
    height: 600PX;
    width: 100%;
    z-index: 1000;

    /* margin-left: -40px; */
}

.waiting {
    background: #004AAD;
    padding:15px 30px;
    margin: 50px 0px;
    border-radius: 10px;
    /* align-self:flex-start; */


}
.waiting a{
  color: white;
  text-decoration: none;
  padding:20px;

}


.dashboard-sect{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:100px 0px;
    padding: 100px 0px;
    /* border:1px solid black; */

}

.Eclipse1 img{
  height: 650px;
}

.ecl img{
  height: 700px;
  width:230px;
  /* border:1px solid black; */
}

/* THE DIGITAL GROWTH SECTION ___________________________________________________________________________________________________________________________________*/
.digital{
  /* border: 1px solid black; */
  margin: 20px 100px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.digital .hd-txt h1{
 text-align: center;
 font-size: 60px;
 /* margin: 100px; */

}

.desc, .rev{
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin: 50px 0px;
  /* border: 1px solid black; */
  
}
.d-img{
  /* border: 1px solid black; */
  /* padding: 0px 30px; */
  height: 450px;
  
}
.imgI{
  position: relative;

}
.imgI img{
  height: 150px;

}

.imgII{
  /* width: 450px; */
  position: relative;
  top:-130px;
  left:30px;
  /* border: 1px solid black; */
}
.imgII img{
 height: 450px;
}


.d-ctnt{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 600px;
  /* margin-left: 100px ; */
  /* border: 1px solid black; */
}

.hg-h{
padding:5px 25px;
/* border: 1px solid black; */
background-color: #32DFF2;
border-radius: 5px;
color: white;
}
.d-ctnt h1{
  margin: 20px 0px;
}

.d-ctnt p{
  font-size: 18px;
  line-height: 30px;

}

.ctxt h1{
  color: #004aad;
  font-weight: bold;
  font-size: 30px;
}
.ctxt p{
color: #434343;
}

.img-sep img{
  height: 450px;
}
/* the success story section------------------------------------------------------------ */
.suc-s{
  /* border: 1px solid black; */
  margin: 200px 0px;
  
}

.d-story{
  /* border: 1px solid black; */
  background-color: #F3F8FF;
  display: flex;
  padding: 50px 70px;
  flex-direction: column;
  align-items: center;
  width: 800px;
  position: relative;
  /* top: 50%; */
  left: 50%;
  transform:translate(-50%, 0%);  
  border-radius: 15px;
   box-shadow: 10px 10px 22px 0px #EEEDED4D;
   box-shadow: 10px 10px 22px 3px #9292920F;
  ;
}
.d-story h1{
  color: #004aad;
  font-size: 28px;
  margin: 10px;
}
.own{
  position: absolute;
  top: -100px;
  
}
.quo{
  font-size: 150px;
  position: absolute;
  top: -45px;
  left: 50px;
  color: #004aad;
}

.story{
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  font-size: 16px;
  /* margin: 30px 0px; */
}

.story h4{
  margin: 30px 0px;
}

.story p{
  margin: 50px 0px;
  color: #434343;
  font-size: 14px;
}




/* the speciality section */  
.cased{
    position: relative;
}
.spec{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px ;
  position: relative;
  /* border: 1px solid black; */

}
.spec-hd{
  text-align: center;
  line-height: 45px;
}
.spec-hd h1{
  font-size: 45px;
  color: #004aad;
  font-weight: bolder;
}

.spec-hd p{
  color: #9F9F9F;
}

.sp-sec{
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  margin:50px 100px;
}
.specs{
  border: 1px solid #5DA2FF4A;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  width: 250px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 11px 22px #E6E6E636;
  cursor: pointer;
  
}

.specs:hover{
  animation: shone 1s ease-in;
}

@keyframes shone {
  0%{
    background-color:#5da3ff0f ;
    opacity: 1;
  }

  50%{
    opacity: 1;
    background-color: #5DA2FF4A;
  }

  100%{
    background-color: white;

  }

}

.specicon{
  /* border: 1px solid black; */
  padding: 15px;
  border-radius: 100%;
  background-color: #E4EFFF;
  margin: 20px 0px;
}


.specicon img{
  height: 30px;
  width: 35px;
}
.spc-txt h3{
  color: #004aad;
  margin: 10px 0px;
}
.spc-txt p{
  font-size: 14px;
  color: #9F9F9F;
}
.imds{
  position: absolute;
  top: 0px;
  height: 150px;
}
.imds img{
  height: 550px;
  width: 150px;
}

/* FOOTER SECTION */
footer{
  /* border: 1px solid black; */
  padding:40px 100px;
  background: #F2F8FF;

  
}

.foot1{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  /* align-items: center; */
}

.ft010{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* align-items:center; */
}

.logos{
  display: flex;
  align-items: center;
}
.lgsvg{
  height: 50px;
  /* border: 1px solid black; */
}
.ftsvg{
  height: 15px;

}


.ct-info{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin: 20px 0px ;
}
.ct-info a{
  color: #5F5F5F;
  margin: 0px 20px;
  text-decoration: none;
  cursor: pointer;
}

.eco ul{
  display: flex;
  margin: 20px 0px;
}
.eco ul li{
  list-style: none;
  
  margin: 0px 10px;
}

.eco a{
  color: #004aad;
  text-decoration: none;
}


.abt{
  width: 350px;
  line-height: 25px;
  color: #B0AFAF;
  padding: 0px 10px;
}

/* THE SIGN IN POPUP */
.popup-inn{
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  position:fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  background-color: #FFFFFF;
  border-radius: 10PX;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  transition: 4s ease-in-out;
}



.close{
  font-size: 70px;
  position: absolute;
  right: 20px;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;

}
.register{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.inf{
  text-align: center;
  margin: 30px;
  width: 450px;
}
.inf h1{
  font-weight: 700px;
  font-size: 36px;

}
.inf p{
  margin: 20px;
  font-size: 18px;
  color: #939393;
}

.entries{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.entries input{
  padding: 15px;
  margin: 15px;
  width: 350px;
}

.entries input[type =text], .entries input[type = email]{
  outline: none;
  border: 1px solid #004AAD45;
  border-radius: 10px;
  background-color: #F5FAFF;
  font-size: 16px;
  /* color: #004aad; */
}
::placeholder{
  color: #004aad  ;
}
.reg-btn{
  width: 350px;
  padding:15px;
  background-color: #004aad;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  margin: 50px;
  border-radius: 15px;
  cursor: pointer;
}

.Overlay{
  position:fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.5);
  /* pointer-events: all;w */

}


/* THIS IS THE SIGNUP/REGISTER/SETUP ACCOUNT AND Dashboard Styling and Media queries */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;

}

/* this */
.heading{
    /* border:  1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 50px;
}

.logo1{
    height: 50px;

}

.sign-in{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.register{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.inf{
    text-align: center;
    margin: 30px;
    width: 450px;
}
.inf h1{
    font-weight: 700px;
    font-size: 36px;

}
.inf p{
    margin: 20px;
    font-size: 18px;
    color: #939393;
}

.entries{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.entries input{
    padding: 15px;
    margin: 15px;
    width: 350px;
}

.entries input[type =text], .entries input[type = email]{
    outline: none;
    border: 1px solid #004AAD45;
    border-radius: 10px;
    background-color: #F5FAFF;
    font-size: 16px;
    /* color: #004aad; */
}
::placeholder{
    color: #004aad  ;
}
.reg-btn{
    width: 350px;
    padding: 15px;
    background-color: #004aad;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    margin: 50px;
    border-radius: 15px;
    cursor: pointer;
}


/* __________________SET UP YOUR ACCOUNT STYLING_________________________ */

.set-up{
    /* border: 1px solid ; */
    box-shadow: 0px 12px 50px 0px #EAEEFD26, 
                7px 0px 16px 0px #C3C2C214,
                -12px 0px 22px 0px #C3C2C221;    
 

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 50px;

}
.sp-entries{
display: flex;
flex-direction: column;
align-items: center;
padding: 30px;
}
.pass-case{
border: 1px solid black;
padding: 15px;
width: 350px;
border-radius: 10px;
margin: 15px;
border: 1px solid #004AAD45;
background-color: #F5FAFF;
display: flex;
align-items: center;


}

.pass-case input[type = password]{
 border: none;
 outline: none;
 width: 300px;
 font-size: 15px;
 background-color: #F5FAFF;
 /* color: #004aad; */
 


}


/* ____________________________ DASHBOARD LOGIN PAGE________________ */
    .mainspace{
    /* background-image: url(./w-img/Rectangle\ 1125.png); */
    height: 100vh;
    /* background-position: left; */
    display: flex;
    }

    .banner1{
    width: 100%;
    background-image: url(./w-img/Rectangle\ 1125.png);
    background-size: cover;
    background-position: right;

    }
    .logo-lg{
        /* border: 1px solid black; */
    margin: 20px 50px;
    height: 50px;
    }
    .poss{
    width: 100%;
    height: 100%;

    /* border: 1px solid black; */

    }
    .login-1{
        /* border: 1px solid black; */
        display: flex;
        margin: 150PX 100px;


    }
    .log_case{
        display: flex;
        flex-direction: column;
        /* border: 1PX SOLID red; */
    }
    .log-ctnt{
        margin: 15px;
    }

    .mail-log{
    /* border: 1px solid black; */
    padding: 15px;
    width: 400px;
    border-radius: 10px;
    margin: 15px;
    border: 1px solid #004AAD45;
    background-color: #F5FAFF;
    display: flex;
    align-items: center;
    }
    .pass-log{
    /* border: 1px solid black; */
    padding: 15px;
    width: 400px;
    border-radius: 10px;
    margin: 15px;
    border: 1px solid #004AAD45;
    background-color: #F5FAFF;
    display: flex;
    align-items: center;
    }

    .mail-log input[type= email]{
    border: none;
    outline: none;
    width: 350px;
    font-size: 15px;
    background-color: #F5FAFF;
    /* color: #004aad; */
    /* border: 1px solid black; */

    }
    .pass-log input[type= password]{
    border: none;
    outline: none;
    width: 100%;
    font-size: 15px;
    background-color: #F5FAFF;
    /* border: 1px solid black; */
    }
    .forget{
    /* border: 1px solid black; */
    margin: 15px;
    text-align: right;
    }
    .forget a{
    color: #00C31F;
    text-decoration: none;
    }

    .login-btn{
    width: 400px;
    padding: 15px;
    background-color: #004aad;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    /* margin: 50px; */
    border-radius: 10px; 
    margin: 20px 20px;
    }




/*_____________________THE DASHBOARD ________________________*/

.dsh{
    /* border:1px solid black; */
    padding: 30px 80px;
    }
    
.dsh nav{
display:flex;
justify-content:space-between;
align-items:center;
/* border:1px solid red; */

    
}

.cs-logo{
display:flex;
justify-content:space-between;
align-items:center;
width:100%;
/* border: 1px solid black; */
}

.menu{
  /* border:1px solid black; */
  display: none;
}
.bar1, .bar2, .bar3{
    height:3px;
    width:30px;
    margin:5px 0px;
    background-color:#004aad;
    border-radius: 10px;
    transition: 1.5s;
    
}
/* the transition and the js functionto display the menu */
.right{
    position:relative;
    top:10px;
    transform:rotate(405deg);
    
  }
  
  .trnleft{
    transform:rotate(-225deg);
    position:relative;
    top:-6px;
  }
  
  .move{
    transform: translateX(-50px);
  animation:anims 1s;
  opacity: 0;
  }

  @keyframes anims {
    0%{
        opacity: 1;
    }

    100%{
        opacity:0;
    }
  }


  .nvbox{
    /* border: 1px solid black; */
    width: 50%;
    /* width: 50%; */
  }

.hd-nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    /* border: 1px solid black; */
    /* padding: 20px; */
/*   margin:0px 20px; */
}

.hd-nav  li{
list-style:none;
margin: 0px 20px;
/* margin:15px 0;  */
}

.hd-nav li a{
text-decoration:none;

}

.hd-nav .dg-a a{
    color: #004aad;
    font-weight: bold;
}

.hd-nav .dg-b a{
    color: #C3C2C2;
    font-weight: bold;
}


.hd-nav  .dg-c a{
    color: white;
    font-weight: bold;
    background-color: #004aad;
    padding: 10px 15px;
    border-radius: 5px;
    
}
    
.disp01{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 70px;

}

.disp01 .user_name{
    /* border: 1px solid black; */
    margin: 30px 20px;
    font-size:36px;
    font-weight: 900px;
}

.disp01 .stats{
    display: flex;
    justify-content: space-between;
   

}

/* this is the main case */
.same{
    /* border: 1px solid black; */
    margin: 0px 20px;
    width: 100%;
    background-color: #EAEEFD;
    /* border-left:5px solid #004aad; */
    border-radius: 0px 10px 10px 0px;
    display: flex;
    

}
/* inden is the sidebar colored 004aad */
.inden{
    width: 7px;
    background-color: #004aad;
    border-radius: 15px;
}

.sd-txt{
    padding: 25px;
    width: 90%;
    text-align: center;
    /* border: 1px solid black; */
    color: #004aad;

}

.sd-txt h1{
    margin: 10px;
    font-size: 36px;
}

.sd-txt p {
  color: #0061E2;
  font-weight: lighter;
}
/* table section */
.mjr01{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
}

.table-disp{
    /* border: 1px solid black; */
    width: 100%;
    margin:0px  40px;
}

.scal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:0px  40px;
}

.tb-head{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #004aad;
    border-radius: 10px;

}
.tb-head h4{
    /* border: 1px solid black; */
    padding: 15px 50px;
    color: white;

}

.tb-body{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0px;
    background-color: #FBFCFF;
}

.tb-body p{
    padding: 15px 50px;
}

.tb-body:hover{
    background-color: #EAEEFD;
}

/* the referal lin sections and some extra info */

.r-lnk{
    /* border: 1px solid black; */
    width: 100%;
    /* padding: 0px 20px; */
    margin:0px 30px;
    
}

.lnk{
    /* border: 1px solid black; */
    box-shadow: 0px 12px 22px rgba(0, 0, 0, 0.07), 
                0px -12px 22px rgba(0, 0, 0, 0.07) ;
    border-radius: 10px;
    padding: 10px;
    display:flex ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cp-in{
    /* border: 1px solid black; */
    text-align: center;
}
.cp-in p{
    font-size: 12px;
    margin: 10px 0px;
    color: #ABAAAA;

}

.reff{
    display: flex;
    margin: 20px 0px;
    color: #00C31F;
    
}
.reff p{
    border: 1px solid #E2E9FF;

    padding: 10px 25px ;

}

.reff button{
    background-color: #004aad;
    color: white;
    border: none;
    border-radius: 0px 10px 10px 0px;
    padding: 15px;
    font-style: italic;
    margin: 0px;
}

.in-lnk{
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
}

.d-graphs{
    display: flex;
}
.in-sec01{
    /* border: 1px solid black; */
    margin-right: 10px;
    box-shadow: 0px 12px 22px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.in-sec01 p{
    font-size: 12px;
    text-align: center;
    color: #969696;
    /* font-weight: bold; */
    margin: 10px 0px;
}

.illus{
    height: 100px;
    margin: 15px 10px ;
}

.gains p{
    /* border: 1px solid black; */
    font-size: 11px;
    font-weight: bold;
    padding:10px;
    border-radius: 10px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    color:#004aad ;
    background-color: #F3F6FE;
}
.gains p img{
    height: 25px;
}

/* THE OVERVIEW PAGE____________________________________________________________________________________________________________________________________________ */
.mjr02{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 85vh;
  /* border: 1px solid black; */
}

.mjr02 h1{
  font-size: 45px;
  margin: 50px 0px;
  text-align: center;
}

.tb-head2{
  display: flex;
  justify-content: space-between;
  width: 800px;
  background-color: #004aad;
  border-radius: 10px;
  padding: 15px 50px;
  color: white;


}
.table-disp2{
  width: 800px;
  /* height:400px; */
  /* border: 1px solid black; */


}


.beck{
  display: flex;
  align-items: center;
  margin:0px 100px;
}
.trp{
  height:30px;
  transform: rotate(180deg);
  color: #004AAD;
}

.beck a{
  color: #004AAD;
  text-decoration: none;
  font-weight: bold;
}

/* refer a friend page __________________________________________________________________________________________________________________________________________ */
.hd-nav .active a{
  color: #004aad;
}
.tit-le{
  text-align: center;
  margin: 30px 0px;
  padding: 5px;
}

.tit-le h1{
  margin: 10px;
  font-size:36px ;
}
.tit-le p{
  font-size: 22px;
  font-weight: lighter;
}
.mag-x{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* justify-content: center; */
  /* width: 50%; */
  /* height: 75vh; */

  /* border: 1px solid black; */
}
.lst-ref{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  width: 50%;
 
}
.nm-spcs::-webkit-scrollbar{
  width: 10px;
 
 }
 .nm-spcs::-webkit-scrollbar-track{
   border-radius: 10px;
   background-color: #F3F6FE;
 }
 
 .nm-spcs::-webkit-scrollbar-thumb{
   background-color: #5DA2FF4A;
   border-radius: 10px;
 }
.tabh{
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid black; */
  padding: 20px 20px;
  background-color:#EAEEFD;
  border-radius: 15px;
}



.nm-spcs{
  display: flex;
  flex-direction: column;
  margin: 20PX 0PX;
  height: 350PX;
  overflow-y: scroll;
}

.spcs{
  display: flex;
  justify-content: space-evenly;
  margin: 5px 0px;
  padding: 20px 50px;
  background-color:#FBFCFF ;


}

.lr-lnk{
  border: 1px solid rgba(128, 128, 128, 0.227);
  padding:20px 50px;
  width: 40%;
  border-radius:10px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 12px 50px 0px #EAEEFD26, 
                7px 0px 16px 0px #C3C2C214,
                -12px 0px 22px 0px #C3C2C221;
 margin: 20px 0px;
 text-align: center;

}
.rl-in{
  font-weight: bold;
}
/* FAQ STYLING__________________________________________________________________________________________________________________________________________________ */


.frequently{
  position: relative;
  top:80px;
height: 600px;
background: #004AAD;
display: flex;
align-items: center;
justify-content: center;

}
.fa-frequent{

}

.fa-frequent h1{
    color: white;
    text-align: center;
    /* padding: 100px; */
    font-size: 55px;
    z-index: -1;

}
.csr{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Illustrative side images */

.ecc1{
    position: absolute;
    left: 0px;
    top: 50%;
}

.ecc2{
    position: absolute;
    right: 0px;
    top: 50%;

}

.lxp{
    /* border: 1px solid black; */
  position: relative;
  top: -100px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
    /* align-items: center; */
    /* margin: 0px 10px; */
}


.lxp_cs{
  border: 1px solid rgba(0, 74, 173, 0.28)  ;
  padding:40px 50px;
  border-radius: 5px;
  margin: 20px 0px;
  background-color: #fff;

}

.mini{
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.arcade{
  /* border: 1px solid black; */
  height: 25px;
  margin-right:20px;

  

}
.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  width: 100%;
  /* margin: 0px 20px; */
}
.question h3{
  font-size: 22px;
}
.arrow{
  height: 25px;
  display: none;
  
}

/* the answer Section */
.answers{

  margin: 25px 10px;
  border-left:3px dashed #C1DCFF;
  padding: 0px 30px;
  font-size: 16px;

}

.show-text{
  border: 1px solid rgba(0, 74, 173, 0.28)  ;
  padding:40px 50px;
  border-radius: 5px;
  margin: 20px 0px;
  background-color: #fff;
}
.answers p{
  color: #999999;
  line-height: 30px;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
}
.wl-lnk{
  color: #004AAD;
  text-decoration: none;


}
.lsts{
  margin: 30px 0px;
}

.lsts-h{
  font-weight: bold;
  color: #484848;
  
}
.lsts li{
  list-style: none;
  color: #004AAD;
  font-weight: bold;
  margin: 15px 0px;
}




/* END OF THE FAQ SECTION */

/* LANDINGPAGE MEDIA QUERY */


/* MEDIA QUERY FOR THE Screen size LESS THN 500PIXELS   */
@media screen and (max-width:599px){
    .navbar-cont{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin:   20px 10px;
        /* border: 1px solid black; */
    }
  
    .logi{
      /* border: 1px solid black; */
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 10px;
    }
    .logi img{
        height:30px;
  
    }
  
    
    
    .nav-sp{
      display:flex;    

    }
  
  
    .nav-sp li a{
      font-size: 11px;
    }
  
  
  
  
  
  
    .cont-vision{
        display: flex;
        /* align-items: flex-end; */
        justify-content: space-between;
        flex-direction: column-reverse;
        /* border: 1px solid black; */
        margin:10px 10px;
    }
  
    .cont-success{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding:10px;
      text-align: center;
      margin-right: 0px;
  
      /* border:1px solid black; */
      /* width: 800px */
    }
  
    .cont-success h2{
    font-size: 40px;
    font-weight: 900px;
    color: #090E52;
    /* border: 1px solid black; */
    }
  
    .cont-success p{
    font-size: 18px;
    line-height:25px;
    color: #666666;
    width: 100%;
    margin:30px 0px;
    }
  
    .waiting{
      padding:10px 15px ;
      margin: 30px 0px;
    }
    .img-group{
        /* border: 1px solid black; */
        width:100%;
    }
  
    .img-group img{
        height: 100%;
        width: 100%;
        margin: 50px 0px
    }
  
  
    .dashboard-sect{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin:0px;
        padding:0px;
        /* width: 100%; */
        /* border:1px solid black; */

  
    }
    .Eclipse1 img{
      height: 350px;
      width: 100%;
  
    }
  
    .ecl img{
      height: 250px;
      width: 50px;
          display: none;
      /* border:1px solid black; */
    }
  
    .digital{
      margin: 0px;
      padding: 20px;
      /* border: 1px solid black; */
  
    }
  
    .hd-txt h1{
      font-size: 18px
    }
  
    .desc{
      flex-direction: column;
      margin: 0px 0px;
      /* border: 1px solid black; */
   
      
    }
  
    .rev{
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items:center;
      /* border: 1px solid black; */
     
    }
  
    .d-img{
      height: 100%;
      margin: 30px 0px;
    }
  
    .imgI{
      height: 100px;
    }
  
    .img-sep img{
      height: 200px;
    }
  
    .imgII img{
      height: 200px;
      position: relative;
      top: 70px;
    }
  
    .d-ctnt{
      width: 100%;
      align-items: center;
      text-align: center;
    }
  
    /* SUCCESS STORY */
    .suc-s{
      /* border: 1px solid black; */
      padding: 10px;
      margin: 50px 0px;
    }
  
    .d-story{
      /* border: 1px solid black; */
      width: 100%;
      padding: 20px;
    }
  
  
    /* Special Features Section */
    .spec{
      /* border: 1px solid black; */
      margin: 20px 0px;
    }
  
    .sp-sec{
      display: flex;
      flex-direction: column;
    /* border: 1px solid black; */
    justify-content: space-between;
    margin:50px 100px;
    }
  
    .specs{
      align-items: center;
      text-align: center;
    }
  
    .spec-hd h1{
      font-size: 36px;
      padding: 0px 30px;
    }
  
    .imds img{
      width: 50px;
    }
  
    footer{
      padding: 20px;
    }
  
    .ftsvg{
      height: 10px;
    }
    .abt{
      width: 100%;
    }
    
  
  }
  
  @media screen and (min-width:599px) and (max-width:899px) {
  
  .navbar-cont{
      /* display: flex;
      justify-content: space-between; */
      align-items: center;
      margin:20px;
      /* border: 1px solid black; */
  }
  
  .logi{
    display: flex;
    align-items:center;
  }
  .logi img{
      height:50px;
  
  }
  .navbar-cont{
    margin: 200px 50px;
  }
  
    .cont-vision{
        display: flex;
        align-items: center;
        justify-content: center;
        margin:50px 20px;
        /* flex-wrap: wrap-reverse; */
        
        /* border-radius: 1px solid black */
        /* height: 700px; */
    }
    .cont-success{
      width: 700px;
      display: flex;
      /* flex-direction: column; */
      align-items: center;
      /* border:1px solid black; */
  
    }
    .cont-success h2{
    font-size: 45px;
    font-weight: 900px;
    color: #090E52;
    /* text-align: center; */
    /* border: 1px solid black; */
    }
  
    .cont-success p{
    font-size: 18px;
    color: #666666;
    line-height: 30px;
    /* text-align: center; */
    width: 100%;
    }
    .img-group{
      /* width: 1000px; */
      /* border: 1px solid black; */
    }
    .img-group img{
        height: 100%;
        width: 100%;
        margin: 50px 3px;
    }
  
    .waiting {
        background: #004AAD;
        padding:15px 20px;
        margin: 50px 0px;
        border-radius: 10px;
        /* align-self:center */
  
  
    }
    .waiting a{
      color: white;
      text-decoration: none;
      padding:20px;
  
    }
  
  
   /* WARNING: copy and Paste */
  .dashboard-sect{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin:100px 0px;
      padding:0px 0px;
      /* width: 100%; */
      /* border:1px solid black; */
      padding-left: 10px;
  
  }
  .Eclipse1 img{
    height: 350px;
    width: 100%;
  
  }
  .ecl{
    width: 50px
  }
  .ecl img{
    height: 400px;
    width: 100%;
    /* display: none; */
    /* border:1px solid black; */
  }
  
  .digital{
    /* border: 1px solid black; */
    margin: 20px;
  
  }
  
  .desc {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .imgII img{
    width: 100%;
    height: 100%;
  }
  .d-img{
    /* border: 1px solid black; */
    width: 350px;
    height: 350px;
    margin: 30px 30px;
  
  }
  
  .img-sep img{
    width: 100%;
    height: 100%;
  }
  
  .rev{
    /* flex-direction: column-reverse; */
    justify-content: center ;
    flex-wrap: wrap-reverse;
  }
  
  /* Success Story  */
  .suc-s{
    /* border: 1px solid black; */
    padding: 20px;
  }
  
  .d-story{
    width: 100%;
  }
  
  
  /* Special SECTION */
  .spec{
    /* border: 1px solid black; */
    align-items: center;
  }
  
  .sp-sec{
    flex-wrap: wrap;
    /* border: 1px solid black; */
    align-items:initial;
    justify-content: center;
    margin: 20px;
  }
  
  
  
  }
  
  
  @media screen and (min-width:899px) and  (max-width:1400px) {
   
    .navbar-cont{
      margin: 20px;
      /* border: 1px solid black; */
  }
  
  .logi{
    display: flex;
    align-items:center;
    padding: 30px 50px;
  }
  .logi img{
      height:50px;
  
  }
  
  .bar{
    display: none;
      height:3px;
      width:30px;
      margin:5px 0px;
      background-color:#004aad;
  
  }
  
  .navbar-cont {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .navbar-cont nav ul{
      display: flex;
      align-items: center;
  
  }
  
  .navbar-cont nav  ul li{
      text-decoration: none;
      list-style: none;
      margin: 10px 20px;
  }
  nav a{
      text-decoration: none;
      font-size: 16px;
      color: #004AAD;
  }
  
  .spr-btn{
      padding: 10px 20px;
      background: #004AAD;
      border-radius: 10px;
      color: white;
  
  }
  
  .cont-vision{
      display: flex;
  
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;

  }
  .cont-success{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    align-items: flex-start;

  }
  
  .cont-success h2{
  font-size: 60px;
  font-weight: 900px;
  color: #090E52;
  /* border: 1px solid black; */
  }
  
  .cont-success p{
  font-size: 18px;
  line-height: 35px;
  color: #666666;
  width: 70%;
  }
  
  
  .img-group img{
      height: 100%;
      width: 100%;
  
      /* margin-left: -40px; */
  }
  
  .waiting {
      background: #004AAD;
      padding:15px 25px;
      margin: 50px 0px;
      border-radius: 10px
  
  
  }
  .waiting a{
    color: white;
    text-decoration: none;
    padding:20px;
  
  }

  .dashboard-sect{
    margin: 0px;
  }
  
  
  
  
  .Eclipse1 img{
    height: 100%;
    width: 100%;
  }
  
  .ecl img{
    width: 100px;
  }
  
  .digital{
    /* border: 1px solid black; */
    margin: 20px;
  
  }
  
  .desc {
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
  }
  
  .imgII img{
    width: 100%;
    height: 100%;
  }
  .d-img{
    /* border: 1px solid black; */
    width: 350px;
    height: 350px;
    margin: 30px 50px 30px 0px;
  
  }
  
  .img-sep img{
    width: 100%;
    height: 100%;
  }
  
  .rev{
    /* flex-direction: column-reverse; */
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
  }
  
  
  /* Special SECTION */
  .spec{
    /* border: 1px solid black; */
    align-items: center;
  }
  
  .sp-sec{
    flex-wrap: wrap;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  
  
  }
  

/* media Query for the other pages aside the Landing page */

@media screen and (max-width:500px) {
    .heading{
        /* border:  1px solid black; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin:20px;
    }

    .inf{
        text-align: center;
        /* border: 1px solid black; */
        width: 100%;
        margin-top: 50px;
        width: 100%;
    }

    .inf h1{
        font-weight: 700px;
        font-size: 36px;
    
    }
    .inf p{
        /* margin: 20px; */
        color: #939393;
    }

    .entries{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        /* border: 1px solid black; */
        width: 100%;
        
    }
    
    .entries input{
        padding: 15px;
        margin:15px 5px;
        width: 100%;
    }
    
    .entries input[type =text], .entries input[type = email]{
        outline: none;
        border: 1px solid #004AAD45;
        border-radius: 10px;
        background-color: #F5FAFF;
    }
    .reg-btn{
        width: 100%;
        padding: 15px;
        background-color: #004aad;
        border: none;
        outline: none;
        color: white;
        font-weight: bold;
        margin: 50px 0px;
        border-radius: 15px;
    }

    /* Media query for the setup page */
    .set-up{
        /* border: 1px solid black; */
        width: 100%;
        margin: 50px 10px;

    }

    .sp-entries{
        width: 100%;
        padding: 20px;
    }

    .pass-case{
        width: 100%;

    }

    .pass-case input[type = password]{
        width: 100%;
    }

    /* the Login media query */
    .mainspace{
        flex-direction: column;
    }
    .banner1{
        display: none;
    }
    .poss{
        width: 100%;
        /* border: 1px solid red; */
        background-image: url(./w-img/Rectangle\ 1125.png);
        background-size: cover;
        background-position: right;    
    }

    .login-1{
        /* border: 1px solid black; */
        background-color: white;
        display: flex;
        margin:200px 0px ;
        width: 100%;


    }
    .log-ctnt{
        width: 70%;
        text-align: center;
    }
    .log_case{
        padding: 100px 10px;
        margin: 10px;
        width: 97%;
        background-color: white;
        align-items: center;
        /* border: 1px solid black; */
    }
    .lg-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   .mail-log{
    width: 90%;
    margin: 15px 0px;
   }

   .pass-log{
    width: 90%;
    margin: 15px 0px;

   }

   .login-btn{
    width: 90%;
    margin: 15px 0px;

   }
   .forget{
    /* border: 1px solid black; */
    text-align: center;
    width: 90%;
   }
   
}
    /* dashboard MEDIA QUERY FOR SCREEN SIZES OVER 500 and below*/
@media screen and (max-width:699px) {
     /* dashboard media query */

     .dsh{
        padding:20px 0px;
        /* border: 1px solid black; */
        
    }
    .dsh nav{
        margin: 0px;
        flex-direction: column;
        position: relative;
        /* border: 1px solid black; */
        /* align-items: center; */

    }
    .cs-logo{
        padding:0px 10px;
    }
    
    
    .menu{
        display: block;
        margin: 0px 10px;
    }

    .hd-nav{
        display:none ;
        /* border: 1px solid black; */
    
    }

    /* * ________________the Hamburger Design */ 
    .nvbox{
        position: relative;
        width: 100%;
        height: 50px;
        /* border: 1px solid black; */
        
    }

    .show{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px;
    animation: showed 2s ease-in-out;

    

    }
    @keyframes showed {
        0%{
            opacity: 0;
            position: absolute;
            top: 0;
        }
        50%{
            opacity: 0px;
        }

        100%{
            opacity: 1;
            position: absolute;
            top: 0px;
        }
    }


    .disp01{
        padding:0px;
        /* margin: 15px; */
        margin: 10px;
    }
    .disp01 .user_name{
        font-size: 24px;
        margin: 10px 0px;

    }

    .disp01 .stats{
        display: flex;
        flex-direction: column;
        margin:0px 0px;
        
    }
    .same{
        display: flex;
        margin:20px 0px;
        text-align: center;
    }
    .sd-txt{
        /* border: 1px solid black; */
        padding: 25px   0px;
    }
/* continue */

    .mjr01{
        flex-wrap: wrap;
        padding: 10px;
    }

    .table-disp{
        margin: 0px;
        /* border: 1px solid black; */
        overflow-x: scroll;
        margin: 30px 0px;
    }

    .tb-head{
        border: 1px solid black;
        width: 100%;
        /* flex-direction: column; */
    }

    .tb-head h4, .tb-body p{
        padding: 20px;
    }

    .r-lnk{
        margin:30px 0px;
        
        
    }

    .in-lnk{
    flex-wrap: wrap;
    /* justify-content: center; */
    }
    .in-lnk p{
        width: 50%;
    }
    .reff{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }


    .reff p {
        padding: 0px;
        font-size: 14px;
        padding:  10px 10px;
        margin: 10px 0px;
    }
    .reff button{
        padding:10px;
        border-radius:0px 10px 10px 0px;
    }

    .d-graphs{
        flex-wrap: wrap;
        justify-content: center;

        align-items: center;
    }
    .in-sec01{
      margin-right: 0px;
      width: 60%;

    }
    .gains{
        display: flex;
        flex-wrap: wrap;
    }

    .gains p{
        /* border: 1px solid black; */
        width: 40%;
        margin: 10px;
    }

    /* mediaQUERY FOR THE Overview Page in the dashboard */
    .tit-le h1{
      font-size: 24px;
    }

    .tit-le p{
      font-size: 16px;
    }
    .lst-ref{
      width: 100%;
    }

    .tabh, .spcs{
      padding: 5px;
    }

    .lr-lnk{
      width: 100%;
      padding: 20px 10px;
    }



}


@media screen and (min-width:699px) and (max-width:1299px) {
    .dsh{
        padding:20px 20px;
        /* border: 1px solid black; */
        
    }
    .dsh nav{
        margin: 0px;
        /* border: 1px solid black; */
    }
    .cs-logo{
      width: 60%;
    }
    
    
    .menu{
        display: none;
    }
    .nvbox{
        width: 75%;
    }

    .hd-nav{
        display: flex ;
        width: 100%;
        /* border: 1px solid black; */
    
    }

    /* .wlcm{
        border: 1px solid black;
        margin: 50px 20px;
        padding:50px 20px;
        position: relative;
        background-color: #EAEEFD;
        border-radius: 10px;
        z-index: -1;
       
    
    }

    .wlcm h1{
        margin: 10px 0px;
        font-size: 36px;
        font-weight: bolder;
    }
    .wlcm p{
        font-size: 16px;
    }
    .wlcm img {
        height: 200px;
        position: absolute;
        top: 170px;
        right: -20px;
        z-index: -1;
    
    } */

    .disp01{
      /* border: 1px solid black; */
      padding:0px 50px;
    }
    .gains{
        /* border: 1px solid black; */
        display: flex;
        flex-wrap: wrap;
    }
    .gains p{
        margin:5px;
    }

    .mjr01{
        display: flex;
        flex-wrap: wrap;
    }

    .table-disp{
        margin: 50px 0px;
    }
    .r-lnk{
        margin: 100px 0px;
    }
    

}

/* THE END OF THE SETUP/SIGNUP/REGISTER/LOGIN/DASHBOARDPAGES */

/* FAQ MEDIA QUERY FOR SMALL SCREEN SIZES */
@media screen and (max-width:599px) {

  .frequently{
    height: 350px ;
  }
  .fa-frequent h1{
    font-size: 24px;
  }

  .lxp{
    width: 80%;
    
  }

  .ecc1 img, .ecc2 img{
    width: 50px;
    height: 100%;
  }

  .lxp_cs{
    padding:30px 10px  ;


  }

  
  .arcade{
    height: 20px;
  }

  .question h3{
    font-size: 14px;
  }

  .answers{
    font-size: 11px;
    display: none;
    max-height: 0px;
 
  }
  .arrow{
    display: block;
    cursor: pointer;
    transition:1s ;
  }

 .show-text .answers {
    display: block;
    max-height: 350px;
    /* transition:5s ease; */
    animation: slide 1s ease-in-out ;
    overflow: scroll;


  
  }
  @keyframes slide {
    0%{
      max-height: 0px;
    }

    100%{
      max-height: 350px;
    }
  }

  .twist{
    transform: rotate(90deg);
    transition: 1s;
  }

  

  

}


